<div>
  {{#each infoBoxTitles key="@index" as |title|}}
    <info-box @title={{title}} @amount={{amount}} />
  {{/each}}
</div>
<div>
  <expense-creator @add={{action addExpense}} />
</div>
<div>
  <expense-table @expenses={{expenses}} />
</div>
