<div>
  <table>
    <thead>
      <th>
        <td>Date</td>
        <td>Title</td>
        <td>Amount</td>
        <td></td>
      </th>
    </thead>
    <tbody>
      {{#each @expenses key="@index" as |expense|}}
        <tr>
          <td>{{expense.date}}</td>
          <td>{{expense.title}}</td>
          <td>{{expense.amount}}</td>
          <td><button name="button" onclick={{action delete expense}}>Delete</button></td>
        </tr>
      {{/each}}
    </tbody>
    <tfooter>
    </tfooter>
  </table>
</div>
